.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 38px 96px;
  z-index: 999;

  &.pos-absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}

@media (max-width: 640px) {
  :host {
    padding: 32px 16px;
  }
}
