<app-header [button]="'login'"></app-header>

<div class="forgot-password-page-content">
  <div class="forgot-password-page-container">
    <h1>Forgot your password?</h1>

    <p>We will send you an email with instructions to reset your password.</p>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <!-- email field -->
      <app-form-input
        [form]="form"
        controlName="email"
        type="email"
        placeholder="Email Address"
      ></app-form-input>

      <!-- submit button -->
      <div class="submit-button-container">
        <button type="submit" class="btn-primary">Send Email</button>
      </div>
    </form>
  </div>
</div>

<app-footer></app-footer>
