 <div class="videoplayer-container">

    <div class="videoplayer-header">
        <button>
            <img src="/assets/img/videoplayer/arrow_back.svg" alt="arrow-back">
        </button>
        <div class="videoplayer-header-info">
            Optimizing video for your screen 40%
        </div>
        <img class="videoflix-logo" src="/assets/img/general/videoflix-logo.svg" alt="videoflix-logo">
    </div>

    <!-- Video -->
    <video #video src="/assets/videos/the_secret_life_of_turtles.mp4"></video>
    <!-- Control Panel -->

    <div class="videoplayer-controls">
        <div class="progress-bar">
            <input type="range" name="time-progress-bar" id="time-progress-bar" min="0" [max]="duration" step="0.1" [(ngModel)]="currentTime" (input)="setTime($event)">
            <span>{{ getTimeRemaining() }}</span>
        </div>
    </div>
 </div>

