<!-- <div class="videoplayer-container"> -->

    <div class="videoplayer-header">
        <button>
            <img src="/assets/img/videoplayer/arrow_back.svg" alt="arrow-back">
        </button>
        <div class="videoplayer-header-info">
            Optimizing video for your screen 40%
        </div>
        <img class="videoflix-logo" src="/assets/img/general/videoflix-logo.svg" alt="videoflix-logo">
    </div>

    <!-- Video
    <video #video src="/assets/videos/the_secret_life_of_turtles.mp4" [currentTime]="currentTime"></video>
    Control Panel

    <div class="videoplayer-controls">

        <div class="progress-bar-container">
            <div class="progress-bar" #progressbar>
                <div class="buffered" [style]="{'width': bufferedPercent + '%'}"></div>
                <div class="played" [style]="{'width': playedPercent + '%'}"></div>
                <button 
                    class="thumb" 
                    [style]="{'left': playedPercent + '%'}"
                    (mousedown)="onMouseDownThumb($event)"
                ></button>

                <input type="range" name="time-progress-bar" id="time-progress-bar" min="0" [max]="duration" step="0.1" [(ngModel)]="currentTime" (input)="setTime($event)">
            </div>
            <span>{{ getTimeRemaining() }}</span>
        </div>

    </div> -->
 <!-- </div> -->

<app-vjs-player
    [options]="{
        autoplay: false,
        controls: true,
        sources: [
            { 
                src: '/assets/videos/the_secret_life_of_turtles.mp4', 
                type: 'video/mp4' 
            }
        ], 
        fluid: true, 
        aspectRatio: '16:9', 
        tracks: [
            {
                src: '/assets/captions/turtles_en.vtt',
                kind:'captions', 
                srclang: 'en', 
                label: 'English - CC'
            },
            {
                src: '/assets/subtitles/turtles_en.vtt',
                kind:'subtitles', 
                srclang: 'en', 
                label: 'English - Sub'
            },
        ], 
        controlBar: {
            subsCapsButton : true,
            playbackRateMenuButton: true,
            durationDisplay: true,
            progressControl: true,
            remainingTimeDisplay: true,
            currentTimeDisplay: true,
            timeDivider: true,
            fullscreenToggle: true,
            pictureInPictureToggle: false,
        }, 
        playbackRates: [0.5, 1, 1.5, 2],
    }"
>
</app-vjs-player>
