<app-header [button]="'back'"></app-header>

<div class="privacy-policy-content">
        <h1>Data protection information</h1>
        <h2>Person responsible</h2>
        <p>The person responsible within the meaning of data protection laws, in particular the EU General Data Protection Regulation (GDPR), is</p>
        <p class='generator_user_input'>{{ name }}</p>
        <h2>Your rights as a data subject</h2>
        <p>In accordance with the EU General Data Protection Regulation (GDPR), you can exercise the following rights at any time using the contact details provided</p>
        <ul>
        <li>Information about your data stored by us and its processing (Art. 15 GDPR),</li>
        <li>Correction of incorrect personal data (Art. 16 GDPR),</li>
        <li>Erasure of your data stored by us (Art. 17 GDPR),</li>
        <li>Restriction of data processing if we are not yet allowed to delete your data due to legal obligations (Art. 18 GDPR),</li>
        <li>Objection to the processing of your data by us (Art. 21 GDPR) and</li>
        <li>Data portability if you have consented to data processing or have concluded a contract with us (Art. 20 GDPR).</li>
        </ul>
        <p>If you have given us your consent, you can revoke it at any time with effect for the future.</p>
        <p>You can lodge a complaint with a supervisory authority at any time, e.g. with the competent supervisory authority in the federal state of your place of residence or with the authority responsible for us as the controller.</p>
        <p>A list of supervisory authorities (for the non-public sector) with addresses can be found at: <a href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html">https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html</a>.</p>
        <h2>Processing activities</h2>
        <h3>Collection of general information when visiting our website</h3>
        <h4>Nature and purpose of processing</h4>
        <p>When you access our website, i.e. if you do not register or otherwise transmit information, information of a general nature is automatically collected. This information (server log files) includes, for example, the type of web browser, the operating system used, the domain name of your Internet service provider, your IP address and similar information.</p>
        <p>They are processed for the following purposes in particular:</p>
        <ul>
        <li>for the technically error-free display and optimisation of the website</li>
        </ul>
        <p>We do not use your data to draw conclusions about your person. However, we reserve the right to subsequently check the server log files if there are concrete indications of unlawful use.</p>
        <h4>Legal basis and legitimate interest</h4>
        <p>Processing is carried out in accordance with Art. 6 para. 1 lit. f GDPR on the basis of our legitimate interest in improving the stability and functionality of our website as well as ensuring system security and detecting misuse.</p>
        <h4>Recipients</h4>
        <p>Recipients of the data may be technical service providers who act as processors for the operation and maintenance of our website.</p>
        <h4>Storage duration</h4>
        <p>Data is stored in server log files in a form that enables the identification of the data subjects for a maximum of 7 days, unless a security-relevant event occurs (e.g. a DDoS attack).</p>
        <p>In the event of such an incident, server log files are stored until the security-relevant incident has been eliminated and fully clarified.</p>
        <h4>Provision prescribed or required</h4>
        <p>The provision of the aforementioned personal data is neither legally nor contractually required. However, without the IP address, the service and functionality of our website cannot be guaranteed. In addition, individual services may not be available or may be restricted.</p>
        <h4>Objection</h4>
        <p>Please read the information on your right to object in accordance with Art. 21 GDPR below.</p>
        <h3>Making contact</h3>
        <p>Type and purpose of processing</p>
        <p>It is possible to contact us via the email addresses provided. In this case, the user's personal data transmitted with the email will be stored. This includes the date and time the email was sent, the email address, IP addresses and information about the servers involved in the email communication.</p>
        <p>You can contact us via the telephone numbers provided. In doing so, we collect log data that includes your telephone number and the duration of the call.</p>
        <p>Regardless of the type of communication selected, we collect the content of your enquiry. Your data is stored for the purpose of personalised communication with you.</p>
        <h4>Legal basis</h4>
        <p>The data is processed on the basis of a legitimate interest (Art. 6 para. 1 lit. f GDPR).</p>
        <p>Our legitimate interest in processing your data is to make it easy for you to contact us.</p>
        <p>If you contact us to enquire about an offer, the data will be processed to carry out pre-contractual measures (Art. 6 para. 1 lit. b GDPR).</p>
        <h4>Recipients</h4>
        <p>Recipients of the data may be technical service providers who act as processors for the operation and maintenance of our website.</p>
        <h4>Storage period</h4>
        <p>Data will be deleted no later than six months after the contact has been processed.</p>
        <p>If there is a contractual relationship, we are subject to the statutory retention periods. These are generally 6 or 10 years for reasons of proper accounting and tax law requirements.</p>
        <h4>Provision prescribed or required</h4>
        <p>The provision of your personal data is voluntary. However, we can only process your enquiry if you provide us with the required data and the reason for the enquiry.</p>
        <h4>Objection</h4>
        <p>Please read the information on your right to object under Art. 21 GDPR below.</p>
        <h2>Information about your right to object in accordance with Art. 21 GDPR</h2>
        <h3>Right to object in individual cases</h3>
        <p>You have the right to object, on grounds relating to your particular situation, at any time to processing of personal data concerning you which is based on point (f) of Art. 6 (1) GDPR (data processing on the basis of a balancing of interests); this also applies to profiling based on this provision within the meaning of Art. 4 No. 4 GDPR.</p>
        <p>If you lodge an objection, we will no longer process your personal data unless we can demonstrate compelling legitimate grounds for the processing which override your interests, rights and freedoms, or the processing serves the establishment, exercise or defence of legal claims.</p>
        <h3>Recipient of an objection</h3>
        <p class='generator_user_input'>{{ name }}</p>
        <h2>Changes to our privacy policy</h2>
        <p>We reserve the right to amend this privacy policy so that it always complies with current legal requirements or to implement changes to our services in the privacy policy, e.g. when introducing new services. The new privacy policy will then apply to your next visit.</p>
        <h2>Questions about data protection</h2>
        <p>If you have any questions about data protection, please send an e-mail to the person responsible named above.</p>
        <h2>Copyright information</h2>
        <p><em>This privacy policy was created with the help of activeMind AG – the experts for <a href="https://www.activemind.de/datenschutz/datenschutzbeauftragter/" target="_blank" rel="noopener dofollow">external data protection officers</a> (version #2024-10-25).</em></p>
</div>