@import '../../../../assets/styles/colors.scss';


.error-message {
    color: $color-error;
    font-size: 15px;
    line-height: 19.53px;
    display: flex;
    align-items: center;
    gap: 2px;
    margin-top: 4px;
}