<div class="billboard-container">
  <div class="billboard-video-info-container">
    <h1>The Secret Life of Turtles</h1>
    <p>
      Explore the mysterious world of turtles as they navigate oceans and
      beaches, playing a vital role in marine ecosystems. Discover their ancient
      origins, unique behaviors, and the efforts to protect them from
      extinction.
    </p>
    <button class="btn-primary">
      <!-- img -->
      <span>Play</span>
    </button>
  </div>

  <video class="billboard-video">
    <source
      src="assets/videos/the_secret_life_of_turtles.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
</div>
