/* You can add global styles to this file, and also import other style files */
@import './assets/styles/fonts.scss' ;

:root {
    $text-color: #FFFFFF;
    font-family: 'DM Sans', sans-serif;
    color: $text-color; 
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}