<!-- Header -->
<app-header></app-header>

<!-- Content -->
<!-- <div class="home-page-content">
    <h1>Movies, TV shows, and more</h1>
    <h2>Watch whenever you want wherever you want</h2>
    <p>Enter your email to create or restart your subscription</p>
    <div class="sign-up-container">
        <input type="email" name="email" id="email" placeholder="Email Address">
        <button class="btn-primary">
            <span>Sign Up</span>
            <img src="/assets/img/home-page/chevron_right.svg" alt="chevron right">
        </button>
    </div>
</div> -->

<!-- Footer -->
 <!-- <app-footer></app-footer> -->
