<app-header [button]="'login'"></app-header>

<div class="reset-password-page-content">
    <div class="reset-password-page-container">
      <h1>Reset password</h1>
  
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
       
        <!-- password field -->
        <app-form-input
          [form]="form"
          controlName="password"
          type="password"
          placeholder="Enter a password"
        ></app-form-input>
  
        <!-- confirm password field -->
        <app-form-input
          [form]="form"
          controlName="confirmPassword"
          type="password"
          placeholder="Confirm Password"
        ></app-form-input>
  
        <!-- submit button -->
        <div class="submit-button-container">
          <button type="submit" class="btn-primary" [disabled]="!isValidUrl">Reset my password</button>
        </div>
      </form>
    </div>
  </div>

<app-footer></app-footer>